<footer class="primary-footer" id="primary-footer">
	<div class="inner">
		<div class="footer-logo">
			<a href="{{ site.url }}"><img class="logo-yellowtail" src="{{ site.theme.uri }}/img/brand/logo-yellowtail-white.svg" alt="Yellow Tail logo"></a>
		</div>
		<nav>
			<ul class="footer-list internal">
				<li class="link">
					<a href="{{ site.url }}/wines">Wines</a>
				</li>
				<li class="link">
					<a href="{{ site.url }}/stores">Where to Buy</a>
				</li>
				<li class="link">
					<a href="{{ site.url }}/recipes">Recipes</a>
				</li>
				<li class="link">
					<a href="{{ site.url }}/our-story">Our Story</a>
				</li>
				<li class="link">
					<a href="{{ site.url }}/faqs" aria-label="Frequently asked questions">FAQs</a>
				</li>
				<li class="link">
					<a href="{{ site.url }}/contact">Contact</a>
				</li>
			</ul>
			{% if (options.social_links) %}
				<ul class="footer-list social">
					{% for social in options.social_links %}
						<li class="link">
							<a href="{{ social.link }}"><span class="fa fa-{{ social.platform }}" aria-hidden="true"></span> {{ social.text }}</a>
						</li>
					{% endfor %}
				</ul>
			{% endif %}
		</nav>
		<div class="footer-statement">
			<p>Please enjoy [yellow tail] wine responsibly</p>
			<div class="link">
				<a href="{{ site.url }}/privacy-policy">Privacy Policy</a></a>
			</div>
			<div class="link">
				<a href="http://www.casellafamilybrands.com">www.casellafamilybrands.com<span class="fa fa-external-link" aria-hidden="true"></span></a>
			</div>
		</div>
	</div>
</footer>
{{ function('wp_footer') }}
